.dashboard-container{
    width:100%;
    margin:40px auto;
}

h1{
    margin-bottom:20px;
    color:#f1f5f9;
}

.user-table{
    margin:0 auto;
    width:80%;
    border-collapse:collapse;
    background:#1e293b;
    border-radius:6px;
    overflow:hidden;
}

.user-table thead{
    background:#334155;
    text-align:center;
}

.user-table th{
    padding:15px;
    text-align:center;
    font-size:14px;
}

.user-table td{
    padding:15px;
    border-bottom:1px solid #334155;
    text-align:center;
}

.user-table tr:hover{
    background:#475569;
}

.user-table tbody tr:last-child td{
    border-bottom:none;
}